@import "tailwindcss"; 

*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
    font-family: 'Outfit', sans-serif !important;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #10141e;
    overflow-x: hidden;
}

.description {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: normal;
    color: #fff;
    opacity: 0.75;
}

.swiper-wrapper {
    display: flex;
    /* gap: 1rem; */
}

.swiper-wrapper > img {
    width: 24rem;
    height: 14rem;
}

.menu {
    fill: invert(100%) sepia(100%) saturate(12%) hue-rotate(294deg) brightness(104%) contrast(100%)
}


@layer components {
    .custom-container {
      @apply w-[32.7rem] pt-[2.4rem] px-[2.4rem] pb-[3.2rem] 
             rounded-[10px] bg-[#161d2f] mt-[5.8rem]
             md:w-[40rem] md:pt-[3.2rem] md:px-[3.2rem] 
             md:rounded-[20px] md:mt-[7.2rem] xl:mt-[8.3rem];
    }

    .entertainment-container {
        @apply mt-[2.4rem] px-[1.6rem] md:mt-[3.3rem] md:pl-[2.5rem]
    }

    .upper-layout-container {
        @apply w-full h-[5.6rem] p-[1.6rem] bg-[#161d2f] flex items-center justify-between rounded-[10px] ml-0 md:w-[93.6%] 
        md:h-[7.2rem] md:pt-[2.1rem] md:pr-[1.6rem] md:pb-[1.9rem] md:ml-[2.5rem] md:mt-[2.3rem] xl:w-[9.6rem] xl:flex-col
        xl:h-[96rem] xl:rounded-[20px] xl:pt-[3.2rem] xl:pb-[3.2rem] xl:items-baseline
    }
  }