@import "tailwindcss"; 

*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
    font-family: 'Outfit', sans-serif !important;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #10141e;
    overflow-x: hidden;
}

.description {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: normal;
    color: #fff;
    opacity: 0.75;
}

.swiper-wrapper {
    display: flex;
    /* gap: 1rem; */
}

.swiper-wrapper > img {
    width: 24rem;
    height: 14rem;
}

/* @layer components {
    input:-webkit-autofill {
        @apply bg-transparent text-current !important
    }

    input:-moz-placeholder-shown {
        @apply bg-transparent text-current !important
    }
} */


/* input:-webkit-autofill {
    background-color: transparent !important;
    color: inherit !important; 
}

input:-moz-placeholder-shown {
    background-color: transparent !important;
} */